/* Media queries for different screen sizes */

/* Large screens (computers and tablets in landscape) */
@media screen and (max-width: 1080px) {
 
    #home h1 {
      font-size: 6rem;
    }
    
    #home h2 {
      font-size: 2.5rem;
    }
    
    #heading {
      font-size: 1.5rem;
    }
    
    .heading {
      font-size: 3.5rem;
    }
  }
  
  /* Medium-sized screens (tablets and small laptops) */
  @media screen and (max-width: 992px) {
    .contact-div{
      width: 70%;
      height: 80%;
    }
    /* .name-div{
      width: 10%;
    } */
   p{
    font-size: 1.2rem;
   }
    .left-half-circle {
      /* right: -65%; */
      display: none;
    }
    .sweat-drop{
      display: none;
    }
    .logo-home{
      display: none;
    }
    .logo-nav{
    
      width: 9rem ;
      height: 9rem;
      position: fixed;
      right: 0;
      top: 3.1rem;
      z-index: -1;
      border-bottom: .5rem solid rgb(234, 91, 9);
      border-left: .5rem solid rgb(234, 91, 9);  
      border-radius:50% 0 0 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(56 55 55);
  }
  .logo-nav img{
      z-index: -1;
      position: relative;
      width: 90%;
      height: 90%;
      border-radius:50% 0 0 50%;
  }
  
    
    .cirlce{
     width: 0;
     height: 0;
    }
    .text{
      width: 90%;
    }
    .section-div{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    
    .navbar ul {
      width: 70%;
    }
    .navbar ul li a{
      font-size: 1.2rem;
    }
  }
  
  /* Tablets and large mobile phones */
  @media screen and (max-width: 768px) {
    .section {
      margin-left: 0;
    }
    .logo{
      height: 7rem;
      width: 7rem;
      top: 2.3rem;
    }
    .navbar{
      height: 2rem;
    }
    .section-div{
      padding-top: 2.4rem;
    }
    .navbar ul {
      width: 100%;
      padding: 0 1rem;
    }
    
    .navbar ul a {
      font-size: 1.2rem;
    }
    
    .text {
      width: 90%;
      margin: 0 auto;
      padding-top: 4rem;
      height: auto;
    }
    
    #home h1 {
      font-size: 4rem;
    }
    
    #home h2 {
      font-size: 2rem;
    }
    

    .contact-div {
      flex-direction: column;
      height: 80%;
    }
    
    .contact-container {
      width: 100%;
      flex-direction: row;
      margin-bottom: 1rem;
    }
    
    .email-container {
      width: 100%;
      height: 80%;
    }
    .navbar ul{
      display: none;
    }
    .hamburger{
      z-index: 10;
      display: block;
      position: fixed;
    }
    .hamburger .line{
      width: 2rem;
      height: 0.2rem;
      border-radius: 0.2rem;
      background-color: rgb(255, 255, 255);
      margin: 0.5rem 0;
    } 
    .active{
     
      animation: actives .5s ease-in-out;
      animation-fill-mode: forwards;
    }
    @keyframes actives{
      from{
        transform: translateX(100%);
      }
      to{
        transform: translateX(0);
      }
    }
    .small-screen{
      width: 25%;
    }
    
   

  }
  /*  */
  /* Mobile phones */
  @media screen and (max-width: 480px) {
    .navbar {
      height: 2rem;
    }
    .logo{
      height: 5rem;
      width: 5rem;
    }
    
    .navbar ul {
    display: none;
    }
    
    .navbar ul.active {
      transform: translateY(0);
    }
    
    .navbar li {
      margin: 0.5rem 0;
    }
    
    .hamburger {
      display: block;
      position: fixed ;
      right: 1rem;
      /* top: 0.1rem; */
      cursor: pointer;
      transform: scale(0.8);
    }
    .hamburger ul li a{
      margin-left: .2rem;
    }
    .active{
     
      animation: actives .5s ease-in-out;
      animation-fill-mode: forwards;
    }
    @keyframes actives{
      from{
        transform: translateX(100%);
      }
      to{
        transform: translateX(0);
      }
    }
  

    #home h1 {
      font-size: 3rem;
      letter-spacing: 0.2rem;
    }
    
    #heading {
      font-size: 1.2rem;
      letter-spacing: 0.3rem;
    }
    
    .heading {
      font-size: 2.5rem;
    }
    
    .eye-containers {
      right: 10%;
    }
    
    .eye-container {
      width: 4rem;
      height: 4rem;
      margin: 10px;
    }
    
    .eye {
      width: 1rem;
      height: 1.2rem;
    }
    
    .project-card {
      width: 100%;
    }
    
    .resume-btn {
      font-size: 1.2rem;
    }
    
    .about h2 {
      font-size: 1.8rem;
    }
    
    input, textarea, .form-button {
      font-size: 1.2rem;
    }
  }
  @media screen and (max-width: 420px) {
    .heading{
      font-size: 2rem;
    }
    .small-screen ul li a{
      margin-left: .1rem;
      font-size: .8rem;
    }
  }
  @media screen and (max-width: 375px) {
    .small-screen ul li a{
      font-size: .7rem;
    }
  }
  @media screen and (max-width: 320px) {
    .small-screen ul li a{
      font-size: .6rem;
    }
  }
  @media screen and (max-width: 280px) {
    .small-screen ul li a{
      font-size: .5rem;
    }
  } 